<div class="section tile" *ngLet="(projectResult$ | async) as project_r">
  <ng-container *ngIf="!project_r.isLoading; else stillLoading">
    <ng-container *ngIf="!project_r.isError; else loadError">
      <ng-container *ngIf="!!project_r.result; else notFound">
        <ng-container *ngLet="slideshowItems$ | async as items">
          <bls-slideshow
            *ngIf="items?.length"
            [items]="items"
            [shouldAutofocus]="true"
            [autofocusDelay]="300">
          </bls-slideshow>
        </ng-container>

        <div class="container" *ngLet="project_r.result as project">
          <div class="row">
            <div class="col-md-8">
              <h1 class="mt-3">{{project.name}}</h1>

              <p class="lead">{{project.description}}</p>

              <div class="pt-4 page-content" *ngIf="project.fullDescription" [innerHtml]="project.fullDescription | markdown | bypassSecurity:'html'"></div>
            </div>
            <div class="col-md-4">
              <div class="mt-3" *ngIf="project.links?.length">
                <h3 class="mt-3">Links</h3>
                <ng-container *ngFor="let link of project.links">
                  <a [href]="link[1]" target="_blank" class="btn btn-primary">{{link[0]}}</a>
                  &nbsp;
                </ng-container>
              </div>

              <div *ngIf="project.technologies?.length">
                <h3 class="mt-3">Technologies/Tags</h3>
                <h4>
                  <ng-container *ngFor="let tag of project.technologies">
                    <a href='#' class="badge badge-pill badge-primary">{{tag}}</a>
                    &nbsp;
                  </ng-container>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-template #notFound>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="mt-3">Project Not Found</h1>

              <p>Did you type in the URL correctly?</p>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>

    <ng-template #loadError>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="mt-3">An Error Occurred</h1>

            <p>We couldn't fetch the information you requested. Please try again later.</p>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>

  <ng-template #stillLoading>
    <bls-loading-spinner></bls-loading-spinner>
  </ng-template>
</div>
