

$primary3: #B26A02;
$primary2: #FF9600;
$primary1: #FFA019;

$secondary2: #009AFF;
$secondary1: #006CB2;

$theme-colors: (
  "primary": $primary1,
  "secondary": $secondary1,
  "danger": #ff4136
);
