

// $primary3: #B26A02;
// $primary2: #FF9600;
// $primary1: #FFA019;

// $secondary2: #009AFF;
// $secondary1: #006CB2;

$primary3: #1D468F;
$primary2: #84B0FA;
$primary1: #5385DB;

$secondary2: #8F691A;
$secondary1: #DBB053;

$theme-colors: (
  "primary": $primary1,
  "secondary": $secondary2,
  "danger": #ff4136
);
