

.display-render {
  background: rgb(40, 40, 40);
}

.badge.rounded-pill {
  margin-right: .3em;
  margin-bottom: .15em;
  text-decoration: none;
}

.reference-assets-wrapper {
  margin-bottom: 2em;
}
