

.practice-thumbnail {
  width: 100%;
}

.section {
  width: 100%;
}

.badge.badge-pill {
  margin-right: .15em;
}

.lead .hover-metadata {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: rgba(0,0,0,.2);
}
