<div class="section tile" *ngLet="(practice$ | async) as practice">
  <div class="container">
    <div class="row">
      <ng-container *ngIf="!!practice; else notFound">
        <div class="col-md-8">
          <h1 class="mt-3">{{practice.name}}</h1>

          <p class="lead">{{practice.description}}</p>

          <div class="pt-4 page-content" *ngIf="practice.fullDescription" [innerHtml]="practice.fullDescription | markdown | bypassSecurity:'html'"></div>
        </div>
        <div class="col-md-4">
          <div class="mt-3" *ngIf="practice.links?.length">
            <h3 class="mt-3">Links</h3>
            <ng-container *ngFor="let link of practice.links">
              <a [href]="link[1]" target="_blank" class="btn btn-primary">{{link[0]}}</a>
              &nbsp;
            </ng-container>
          </div>

          <div *ngIf="practice.technologies?.length">
            <h3 class="mt-3">Technologies/Tags</h3>
            <h4>
              <ng-container *ngFor="let tag of practice.technologies">
                <a href='#' class="badge badge-pill badge-primary">{{tag}}</a>
                &nbsp;
              </ng-container>
            </h4>
          </div>
        </div>
      </ng-container>

      <ng-template #notFound>
        <div class="col-12">
          <h1 class="mt-3">Daily Practice Not Found</h1>

          <p>Did you type in the URL correctly?</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
