@import "../../theme.scss";

.card.link-card {
  cursor: pointer;

  & > .card-body {
    padding: 1rem;
  }

  & .card-title {
    color: $primary1;
  }
  &:hover .card-title {
    color: $primary3;
  }
}
