

.project-filter-wrapper {
  padding: 1em;
  position: relative;

  & > .btn-clear-filter {
    position: absolute;
    right: 1em;
    top: 1em;
    color: black;
    opacity: .5;
    transition: .2s opacity;
    text-decoration: none;

    &:hover {
      color: black;
      opacity: 1;
    }
  }
}
