<div class="section tile" *ngLet="(projectObservable | async) as project">
    <slideshow *ngIf="!!project" [items]="slideshowItemsObservable | async"></slideshow>
    
    <div class="container">
        <div class="row">
            <ng-container *ngIf="!!project; else notFound">
                <div class="col-12">
                    <h1 class="mt-3">{{project.name}}</h1>
                    
                    <p>{{project.description}}</p>
                    
                    <p>
                        <a *ngFor="let link of project.links" [href]="link[1]" target="_blank" class="btn btn-default">{{link[0]}}</a>
                    </p>
                </div>
            </ng-container>
            
            <ng-template #notFound>
                <div class="col-12">
                    <h1 class="mt-3">Project Not Found</h1>
                    
                    <p>Did you type in the URL correctly?</p>
                </div>
            </ng-template>
        </div>
    </div>
    <page-footer></page-footer>
</div>
