<div class="section tile" *ngLet="(projectObservable | async) as project">
    <ng-container *ngLet="slideshowItemsObservable | async as items">
        <slideshow
          *ngIf="!!project && items?.length"
          [items]="items"
          [shouldAutofocus]="true"
          [autofocusDelay]="300">
        </slideshow>
    </ng-container>
    
    <div class="container">
        <div class="row">
            <ng-container *ngIf="!!project; else notFound">
                <div class="col-md-8">
                    <h1 class="mt-3">{{project.name}}</h1>
                    
                    <p class="lead">{{project.description}}</p>
                    
                    <div class="pt-4 page-content" *ngIf="project.fullDescription" [innerHtml]="project.fullDescription | markdown | safe:'html'"></div>
                </div>
                <div class="col-md-4">
                    <div class="mt-3" *ngIf="project.links?.length">
                        <h3 class="mt-3">Links</h3>
                        <ng-container *ngFor="let link of project.links">
                            <a [href]="link[1]" target="_blank" class="btn btn-primary">{{link[0]}}</a>
                            &ngsp;
                        </ng-container>
                    </div>
                    
                    <div *ngIf="project.technologies?.length">
                        <h3 class="mt-3">Technologies/Tags</h3>
                        <h4>
                            <ng-container *ngFor="let tag of project.technologies">
                                <a href='#' class="badge badge-pill badge-primary">{{tag}}</a>
                                &ngsp;
                            </ng-container>
                        </h4>
                    </div>
                </div>
            </ng-container>
            
            <ng-template #notFound>
                <div class="col-12">
                    <h1 class="mt-3">Project Not Found</h1>
                    
                    <p>Did you type in the URL correctly?</p>
                </div>
            </ng-template>
        </div>
    </div>
    <page-footer></page-footer>
</div>
