<div class="slideshow-backdrop">
  <div class="container" [@pullFromBottom]="items">
    <div *ngFor="let item of items; let i = index" class="row slideshow-item">
      <div [ngSwitch]="item.type" class="col-12" [style.transform]="'translateX(' + ((i - currentIdx) * 100) + '%)'" [style.opacity]="i === currentIdx ? 1 : .2">
        <ng-container *ngSwitchCase="'image'">
          <img [src]="item.src" />
        </ng-container>

        <ng-container *ngSwitchCase="'video'">
          <div class="youtube-aspect-ratio" *ngIf="item.src.startsWith('https://www.youtube.com/embed/')">
            <iframe [src]="item.src | bypassSecurity:'resource-url'" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="row no-flex">
      <div
        [class]="['col-12', 'slideshow-spacer', 'capture-keyboard-events', 'aspect-ratio-' + aspectRatioType, 'current-type-' + items[currentIdx].type]"
        tabindex="0"
        [autofocus]="shouldAutofocus"
        [autofocusDelay]="autofocusDelay"
        (keydown)="onKeyDown($event)">
      </div>
    </div>
  </div>
</div>
