

.max-1080p {
  max-width: 1920px;
}

.slideshow-backdrop {
  overflow: hidden;

  & > .container {
    &.slideshow-container {
      position: relative;

      & > .slideshow-item {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        & > .col-12 {
          transition: .4s transform ease-in-out, .4s opacity ease-in-out;
        }
      }
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .youtube-aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    & > iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.slideshow-spacer {
  padding-top: 56.25%;
}

.slideshow-spacer.aspect-ratio-project {
  padding-top: 62.79%;
}

.no-flex {
  display: block;

  & > * {
    display: block;
  }
}

.no-pointer-events {
  pointer-events: none;
}

.controls-backdrop {
  background: rgba(0,0,0,.8);
  color: lightgray;
  padding: .75em 1.5em;
  width: 100%;
  z-index: 1;

  & .container {
    position: relative;
  }

  & .btn-prev {
    left: 0;

    &:after {
      content: 'Previous';
    }
  }
  & .btn-next {
    right: 0;

    &:after {
      content: 'Next';
    }
  }

  & .btn-prev, & .btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20pt;
    cursor: pointer;

    &:hover {
      background: #000000;
      color: white;
    }
  }

  & .nav-btn-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    & > .btn-index {
      display: inline-block;
      cursor: pointer;

      &.current {
        color: white;
      }

      &:after {
        content: 'â—';
        padding: .25em;
      }
    }
  }
}
