

div {
    position: relative;
}
img {
    width: 100%;
}
.lastImage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    z-index: 10;
}

.placeholder-gradient {
    padding-top: 62.8%;
    background: linear-gradient(to bottom, lightskyblue, orangered);
}
