

.resume {

font: 12pt Cambria;

.title {
    margin: 3em 0;
    text-align: center;
    & .links {
        .link-separator:before {
            content: '|';
            display: inline-block;
            padding: 0 .5em;
        }
    }
}

.section {
    margin-bottom: 3em;
    
    & h3 {
        font: 14pt Calibri;
        font-weight: 500;
        color: grey;
        margin: 1em 0;
        width: 100%;
        border-bottom: 1px solid lightgrey;
    }
}

.line {
    &.strong, & > .degree { font-weight: bold; }
}

}
