<div class="container">
  <div class="row">
    <div class="col-12 resume">
      <div class="title">
        <span class="line strong">Brandon Slade</span><br/>
        <span class="line">Software Engineer and Full-Stack Web Developer</span><br/>
        <span class="line">Dallas, TX 75287</span><br/>
        <span class="line">(719) 671-0324</span><br/>
        <span class="line links">
          <a href="mailto:brandonyoyoslade@gmail.com">brandonyoyoslade@gmail.com</a>
          <span class="link-separator"></span>
          <a href="https://www.linkedin.com/in/brandon-slade" target="_blank">linkedin.com/in/brandon-slade</a>
          <span class="link-separator"></span>
          <a href="https://www.github.com/leviathanbadger" target="_blank">github.com/leviathanbadger</a>
        </span>
      </div>

      <div class="section">
        <h3>Technical tools</h3>

        <p>
          C# and .NET, C++, Java, Typescript, Ruby, HTML, CSS and Javascript/JQuery,
          Angular and AngularJs, SailsJs, Ruby on Rails, NodeJs, Express, Webpack,
          SocketIO, SQL, MongoDB, Redis, and more
        </p>
      </div>

      <div class="section">
        <h3>Professional Experience</h3>

        <p>
          <strong>Full-Stack Web Developer</strong>, 8/16 to Present - Wiselynx, LLC
        </p>

        <p>
          Software developer and full-stack web developer for several production-quality
          solutions, including both subcontracted and in-house projects.
          <em>Achievement highlights:</em>
        </p>

        <ul>
          <li>
            Primary developer for a developer documentation tool built from the ground-up using Angular, NodeJS, Express, and SocketIO.
          </li>
          <li>
            Contributed to architecting software integrations for APIs such as GitHub, SalesForce, Android, Twilio, and Chrome browser extensions.
          </li>
          <li>
            Optimized the geographic search algorithm for a production application by reducing algorithmic complexity and using native MongoDB geographic indexes.
          </li>
          <li>
            Active in the open-source community, with contributions to varied repositories including the NodeJS Github API backend and Angular.
          </li>
        </ul>

        <p>
          <strong>Backend Web Developer</strong>, 10/15 to 8/16 - U.S. Novelty, LLC
        </p>

        <p>
          Build new features and patch bugs in a Ruby on Rails eCommerce application
          with custom integrations with Amazon.
          <em>Achievement highlights:</em>
        </p>

        <ul>
          <li>
            Corrected regressions and security holes in the checkout process.
          </li>
          <li>
            Built out admin portal pages allowing more granular control of products, pricing, and discounts.
          </li>
          <li>
            Partially built out a CMS for marketing to more easily modify the homepage and product category pages.
          </li>
        </ul>
      </div>

      <div class="section">
        <h3>Education</h3>

        <p>
          <span class="line">
            <span class="degree">Bachelor of Science in Software and Game Development (BSGD)</span>, (Expected 9/18)
          </span><br/>
          <span class="line">Neumont College of Computer Science – Salt Lake City, UT</span><br/>
        </p>
      </div>
    </div>
  </div>
</div>
