<div class="container">
  <div class="row">
    <div class="col-12 resume">
      <div class="title">
        <span class="line strong">Brandon Slade</span><br/>
        <span class="line">DevOps Engineer and Full-Stack Web Developer</span><br/>
        <span class="line">Dallas, TX 75287</span><br/>
        <span class="line">(719) 671-0324</span><br/>
        <span class="line links">
          <a href="mailto:brandonyoyoslade@gmail.com">brandonyoyoslade@gmail.com</a>
          <span class="link-separator"></span>
          <a href="https://www.linkedin.com/in/brandon-slade" target="_blank">linkedin.com/in/brandon-slade</a>
          <span class="link-separator"></span>
          <a href="https://www.github.com/leviathanbadger" target="_blank">github.com/leviathanbadger</a>
        </span>
      </div>

      <div class="section">
        <h3>Technical tools</h3>

        <h6><strong>DevOps</strong></h6>

        <p>
          Self-hosted Kubernetes administration/application development, TKGI (PKS),
          Helm, Docker, GitLab CI, Travis CI, GitHub Actions, TeamCity, Octopus,
          Linux/Unix, and more
        </p>

        <h6><strong>Development</strong></h6>

        <p>
          C# and .NET Core, Typescript and Javascript, HTML and CSS/SCSS,
          Angular, Node.js, Express.js, Webpack, Sails.js, Ruby on Rails,
          SocketIO, SignalR, SQL, MongoDB, Redis, Hangfire, C++, Ruby, and more
        </p>
      </div>

      <div class="section">
        <h3>Professional Experience</h3>

        <p>
          <strong>DevOps Engineer</strong>, 1/20 to present - VPay
        </p>

        <p>
          Facilitated the development teams' migrations to containerized applications running
          within kubernetes. Helped administrate and maintain several on-premises kubernetes clusters.
          <em>Achievement highlights:</em>
        </p>

        <ul>
          <li>
            Built and maintained dozens of applications' build and deployment pipelines
            within GitLab CI using Docker and Helm.
          </li>
          <li>
            Built an internal security gate to prevent production deployments without explicit approval from
            the security team.
          </li>
          <li>
            Assisted in performing several kubernetes cluster upgrades to keep our production environments
            current and highly-available.
          </li>
          <li>
            Built new features for internal and client-facing Angular applications to
            modernize the code base and assist other employees with their jobs.
          </li>
        </ul>

        <p>
          <strong>Engineer II</strong>, 9/18 to 1/20 - Axxess
        </p>

        <p>
          Build new features and internal applications for a cloud-based home-health application called AgencyCore
          <em>Achievement highlights:</em>
        </p>

        <ul>
          <li>
            Led team of three developers focused on integrations with external applications.
          </li>
          <li>
            Helped facilitate deployments using automated CI with TeamCity and Octopus
          </li>
          <li>
            Architected solution to submit electronic visit verification information to various
            contracted state aggregators, abstracting away implementation details.
          </li>
        </ul>

        <p>
          <strong>Full-Stack Web Developer</strong>, 8/16 to 5/18 - Wiselynx, LLC
        </p>

        <p>
          Software developer and full-stack web developer for several production-quality
          solutions, including both contract and in-house projects.
          <em>Achievement highlights:</em>
        </p>

        <ul>
          <li>
            Engineered an automated continuous-integration pipeline that reduced deployment times from several hours to just under ten minutes.
            Built using GitLab CI, deployed to AWS EC2 using AWS CodePipeline and bash scripts
          </li>
          <li>
            Primary developer for a developer documentation tool built from the ground-up using Angular, NodeJS, Express, and SocketIO.
          </li>
          <li>
            Created software integrations for APIs such as GitHub, SalesForce, Android, Twilio, and Chrome browser extensions.
          </li>
          <li>
            Optimized the geographic search algorithm for a production application by reducing algorithmic complexity and using native MongoDB geographic indexes.
          </li>
        </ul>

        <p>
          <strong>Gameplay Programmer and Designer</strong>, 6/17 to 5/18 - Miniwit Studios, LLC
        </p>

        <p>
          Design, program, and publish a 2D puzzle game from start to finish.
          <em>Achievement highlights:</em>
        </p>

        <ul>
          <li>
            Published to Steam, including Steam Cloud integration for persistent player saves.
          </li>
          <li>
            Built using an in-house game engin built on top of WebGL
          </li>
          <li>
            CI pipeline for automated build and regression testing using TravisCI.
          </li>
        </ul>

        <p>
          <strong>Backend Web Developer</strong>, 10/15 to 8/16 - U.S. Novelty, LLC
        </p>

        <p>
          Build new features and patch bugs in a Ruby on Rails eCommerce application
          with custom integrations with Amazon.
          <em>Achievement highlights:</em>
        </p>

        <ul>
          <li>
            Corrected regressions and security holes in the checkout process.
          </li>
          <li>
            Built out admin portal pages allowing more granular control of products, pricing, and discounts.
          </li>
          <li>
            Partially built out a CMS for marketing to more easily modify the homepage and product category pages.
          </li>
        </ul>
      </div>

      <div class="section">
        <h3>Education</h3>

        <p>
          <span class="line">
            <span class="degree">Bachelor of Science in Software and Game Development (BSGD)</span>, (Expected 9/18)
          </span><br/>
          <span class="line">Neumont College of Computer Science – Salt Lake City, UT</span><br/>
        </p>
      </div>
    </div>
  </div>
</div>
