<div class="banner-image" [style.background]="'url(https://www.brandonslade.me/assets/images/profile-on-bricks-lg.png)'">
  <div class="banner-content">
    <div class="banner-right">
      <h1 class="display-1">Brandon Slade</h1>

      <p>
        Full-Stack Web Developer and Software Engineer
        <button class="ml-4 btn btn-primary" [routerLink]="['/projects']">
          View my Projects<fa-icon class="ml-2" [icon]="faArrowRight"></fa-icon>
        </button>
      </p>

      <p class="profile-icons">
        <a href="https://github.com/leviathanbadger/"><fa-icon [icon]="faGithub" size="3x"></fa-icon></a>
        <a href="https://stackoverflow.com/users/768597/leviathanbadger"><fa-icon [icon]="faStackOverflow" size="3x"></fa-icon></a>
        <a href="https://www.linkedin.com/in/brandon-slade"><fa-icon [icon]="faLinkedin" size="3x"></fa-icon></a>
      </p>
    </div>
  </div>
</div>
