<footer class="text-bg-dark">
  <div class="container">
    <div class="row d-flex flex-wrap justify-content-between align-items-center">
      <div class="col-4">
        <span class="text-light">&copy; {{currentYear$ | async}}</span>
      </div>

      <div class="d-flex col-4 justify-content-center">
        <a class="ml-2 text-light" [routerLink]="['/', 'sitemap']">Sitemap</a>
      </div>

      <ul class="nav profile-icons col-4 justify-content-end">
        <li class="nav-item">
          <a class="px-2 text-light" href="https://github.com/leviathanbadger/"><fa-icon [icon]="faGithub" size="2x"></fa-icon></a>
        </li>
        <li class="nav-item">
          <a class="px-2 text-light" href="https://stackoverflow.com/users/768597/leviathanbadger"><fa-icon [icon]="faStackOverflow" size="2x"></fa-icon></a>
        </li>
        <li class="nav-item">
          <a class="px-2 text-light" href="https://www.linkedin.com/in/brandon-slade"><fa-icon [icon]="faLinkedin" size="2x"></fa-icon></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
