<nav class="navbar navbar-expand-md bg-body-tertiary mb-3 py-lg-4 border-bottom">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
            BLS
        </a>

        <button
            class="navbar-toggler"
            type="button"
            (click)="toggleCollapse()"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div [ngbCollapse]="isCollapsed()" class="collapse navbar-collapse">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a
                        class="nav-link"
                        [routerLink]="['/', 'projects']"
                        [routerLinkActive]="['active']"
                        (click)="collapse()"
                        i18n="navbar projects text|Short text for the 'projects' link in the navbar, referencing programming projects rather than art or other kinds"
                    >
                        Projects
                    </a>
                </li>

                <li class="nav-item">
                    <a
                        class="nav-link"
                        [routerLink]="['/', 'art']"
                        [routerLinkActive]="['active']"
                        (click)="collapse()"
                        i18n="navbar art text|Short text for the 'art' link in the navbar, referencing primarily digital art and technical tools for creating art"
                    >
                        Art
                    </a>
                </li>

                <li class="nav-item">
                    <a
                        class="nav-link"
                        [routerLink]="['/', 'cv']"
                        [routerLinkActive]="['active']"
                        (click)="collapse()"
                        i18n="navbar CV text|Short text for the 'CV' link in the navbar"
                    >
                        CV
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
