<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="mt-3">Sitemap</h1>
    </div>

    <div class="col-4 sitemap-section">
      <h3 class="mt-2">Pages</h3>

      <ul>
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/', 'resume']">R&eacute;sum&eacute;</a></li>
        <li><a [routerLink]="['/', 'houdini-practice', 'index']">Houdini Practice (Index)</a></li>
        <li><a [routerLink]="['/', 'sitemap']">Sitemap</a></li>
      </ul>
    </div>

    <div class="col-4 sitemap-section">
      <h3 class="mt-2">Projects</h3>

      <ul>
        <li><a [routerLink]="['/', 'projects', 'index']">Projects (Index)</a></li>
        <li><a [routerLink]="['/', 'projects', 'current']">Current Project</a></li>
        <li><a [routerLink]="['/', 'projects', 'vulkan-rust-game-engine', 'overview']">Vulkan Rust Game Engine (Overview)</a></li>
        <li><a [routerLink]="['/', 'projects', 'vulkan-rust-game-engine', 'timeline']">Vulkan Rust Game Engine (Timeline)</a></li>
      </ul>
    </div>

    <div class="col-4 sitemap-section">
      <h3 class="mt-2">Error Pages</h3>

      <ul>
        <li><a [routerLink]="['/', 'not-found']">404 Not Found</a></li>
      </ul>
    </div>
  </div>
</div>
