<header class="px-3 pt-2 text-bg-dark border-bottom border-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-end justify-content-center justify-content-lg-between">
      <div>
        <ul class="nav nav-tabs border-bottom-0">
          <li>
            <a class="nav-link px-3 pb-2 text-light" [routerLink]="['/']" [routerLinkActive]="['active', 'text-dark']" [routerLinkActiveOptions]="{exact: true}">Brandon Slade - Portfolio</a>
          </li>
        </ul>
      </div>

      <div>
        <ul class="nav nav-tabs border-bottom-0">
          <li>
            <a class="nav-link px-3 pb-2 text-light" [routerLink]="['/', 'projects']" [routerLinkActive]="['active', 'text-dark']">Projects</a>
          </li>
          <li>
            <a class="nav-link px-3 pb-2 text-light" [routerLink]="['/', 'houdini-practice']" [routerLinkActive]="['active', 'text-dark']">Houdini Practice</a>
          </li>
          <li>
            <a class="nav-link px-3 pb-2 text-light" [routerLink]="['/', 'resume']" [routerLinkActive]="['active', 'text-dark']">R&eacute;sum&eacute;</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
